* {
  padding: 0px;
  margin: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding: 5px 20px;
  background-color: #fff;
  border-bottom: 3px solid #f2f2f2;
}

.header .list {
  list-style-type: none;
  overflow: hidden;
}

.list li {
  float: left;
}

.list a {
  text-decoration: none;
  display: block;
  color: #ee6e73;
  padding: 14px 16px;
  text-align: center;
}

.list a:hover {
  text-decoration: underline;
}

/* Tables */
table {
  width: 100%;
}
table, th, td {
  border: 1px solid #ddd;
}
th, td {
  padding: 10px;
}
th {
  background-color: #ee6e73;
  color: #fff;
  text-align: left;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200) {
  .container {
    width: 1170px;
  }
}