<%- contentFor('body') %>
<div class="container">
  <h2 style="text-align:center;">Editar</h2>
  <%lista.forEach(function(field) {%>
    <form action="/edit/<%=field.id%>?_method=PUT" method="POST">
      <table class="lista-books">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor:pointer;">
              <td>Nome</td>
              <td>
                <input type="text" name="nome" value="<%=field.nome%>" >
              </td>
            </tr>
            <tr>
              <td>Descrição</td>
              <td>
                  <input type="text" name="descricao" value="<%=field.descricao%>">
              </td>
            </tr>
          </tbody>
        </table>
        <div style="text-align:right;">
          <button style="background-color:#fff;color:#ee6e73;padding:7px 20px;border:1px solid #ddd;font-weight: bold;cursor:pointer;margin-top:10px;" type="submit">Editar</button>
        </div>
    </form>
  <%});%>

  <a style="color:#ee6e73;" href="/">Voltar</a>
</div>