<%- contentFor('body') %>
<div class="container">
  <h2 style="text-align:center;">Books</h2>
  <table class="lista-books">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%lista.forEach(function(field) {%>
        <tr style="cursor:pointer;" id="<%=field.id%>">
          <td><%=field.nome%></td>
          <td><%=field.descricao%></td>
          <td>
            <a style="color:#ee6e73;float:left;" href="/edit/<%=field.id%>">Edit</a>
            <form action="/delete/<%=field.id%>?_method=DELETE" method="POST">
              <input style="background-color:#fff;color:#ee6e73;border:1px solid #ddd;cursor:pointer;float:right;" type="submit" onclick="return confirm('deseja realmente excluir esse e-book?');" value="delete">
            </form>
          </td>
        </tr>
      <%});%>
    </tbody>
  </table>
  <div style="text-align:center;padding:10px;">
    <a style="color:#ee6e73;" href="/novo">Cadastrar novo ebook</a>
  </div>
</div>