<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="header">
    <ul class="list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">Sobre</a>
      </li>
    </ul>
  </div>

  <div>
    <%- body %>
  </div>
</body>
</html>