<%- contentFor('body') %>
<div class="container">
  <div style="padding:10px;">
    <%if(errosValidacao) {%>
      <ul style="list-style-type:none;color:#ee6e73;">
        <%for(var i=0; i<errosValidacao.length; i++){%>
          <li><%=errosValidacao[i].param%>: <%=errosValidacao[i].msg%></li>
        <%}%>
      </ul>
    <%}%>
  </div>
  <form action="/novo" method="POST">
    <div style="padding:5px;">
      <label for="nome">Nome</label><br/>
      <input style="width:100%;border:1px solid #ddd;padding: 10px;" type="text" id="nome" name="nome" value="<%=book.nome%>" placeholder="Nome do ebook">
    </div>
    <div style="padding:5px;">
      <label for="descricao">Descrição</label><br/>
      <input style="width:100%;border:1px solid #ddd;padding: 10px;" type="text" id="descricao" name="descricao" value="<%=book.descricao%>" placeholder="Descrição do ebook">
    </div>
    <div style="padding:5px;text-align:center;">
      <button style="padding:10px;background-color:#fff;cursor: pointer;font-weight: bold;color:#ee6e73;border:1px solid #ddd;border-radius: 4px;" type="submit">Cadastrar</button>
    </div>
  </form>
  <div style="padding:5px;">
    <a style="color:#ee6e73;" href="/"> < Home </a>
  </div>
</div>